{% extends 'base.html' %}

{% block title %}ChatGPT-4 Text Generator Magic AI Box{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatgpt-4.css') }}">
<div class="sticky-card btn-success" id="used">
    <p>Words Used</p>
    <p style="text-align:center;" id="wordsUpdate">{{words_count}} / {{words_total}}</p>
</div>
<div class="sticky-card-left btn-warning">
    <a href="https://platform.openai.com/tokenizer" target="_blank" style="text-decoration: none; color: black;">Tokenizer</a>
</div>
<div class="container">
    <div class="card">
        <h1 class="head">ChatGPT-4 Text Generator</h1>
        <hr>
        <p>{{ChatGPTText}}</p>
    </div>
</div>
<div class="container">
    <a href='https://www.magicaibox.site/prompts/chatgpt_prompts.html' class="btn btn-primary" type="button" target="_blank" style="margin: auto;">Browse Prompt Examples</a>
</div>

<div class="container">
  <div class="card">
    <b
      ><div
        class="block1"
        style="
          background-color: rgb(248, 248, 53);
          padding: 14px;
          border: 4px solid gray;
        "
      >
        How to create text summaries, sentiment analysis, action items from
        audiofiles from Teams and Zoom meetings or from YouTube videos or
        podcasts. Or from blogs, speeches, etc. that you can find on the
        internet.
      </div></b
    >
    <hr />
    <div
      class="block2"
      style="
        background-color: rgb(248, 248, 194);
        padding: 14px;
        border: 2px solid gray;
      "
    >
      <b>
	    Copy text from a website, blog, etc or follow the procedure, to perform 
		various actions on the text of audio files: <br />
        1. Select the audio file or the YouTube video url in the Whisper Speech Recognizer model and
        choose Transcribe <br />
       
        2. Copy the transcribed text <br />
     
      <br />
      Now you can perform various operations on the text, whereby you can copy
      these prompts, change the "Dutch language" in your preferred language and
      paste into ChatGPT-4

      <br />
      <br />
      <h5>SUMMARY</h5>
      Provide a summary, in the Dutch language, of the following text: <br />
      <i
        >&lt;paste here the copied transcribed text or copied text from internet from blogs, speeches, opinion pieces, etc&gt;</i
      >

      <br />
      <br />
      <h5>IMPORTANT POINTS</h5>
      Provide a summary, in the Dutch language, of the following text as a
      bullet point list of the most important points: <br />
      <i
      >&lt;paste here the copied transcribed text or copied text from internet from blogs, speeches, opinion pieces, etc&gt;</i
      >

      <br />
      <br />
      <h5>ACTION ITEMS</h5>
      Identify the action items, in the Dutch language, of the following text as
      a bullet point list of the action items: <br />
      <i
     >&lt;paste here the copied transcribed text or copied text from internet from blogs, speeches, opinion pieces, etc&gt;</i
      >

      <br />
      <br />
      <h5>IMPORTANT PHRASES AND WORDS</h5>
      Detect the Important Phrases and words as a bullet point list and display
      the output into the Dutch language, of the following text: <br />
      <i
     > &lt;paste here the copied transcribed text or copied text from internet from blogs, speeches, opinion pieces, etc&gt;</i
      >

      <br />
      <br />
      <h5>SENTIMENT ANALYZES</h5>
      Detect the overal sentiment of this text and give a summarization of this
      sentiment into the Dutch language, of the following text: <br />
      <i
		>&lt;paste here the copied transcribed text or copied text from internet from blogs, speeches, opinion pieces, etc&gt;</i
      >
    </div>
  </div>
</div>




<div class="container">
    <div class="card">
        <span><h5>Prompt</h5><p style="font-size: 13px;">Meanwhile, prompts [input and output] can handle up to 18,000 
            tokens, which is about 7,800 words. [1 word is about 2.5 token]. 
            Click on the Tokenizer link at the bottom left of the screen to 
            request the exact number of tokens.</p></span>
        <span><i id="change" class="fa-solid fa-microphone fa-lg" style="
            color: #3aebf8;
            display: flex;
            align-items: right;
            justify-content: flex-end;
            align-items: end;
            z-index: 1;
            position: relative;
            top: 1rem;
            right: 0.3rem;"></i></span>
        <textarea id='chatPrompt' name="" rows="10"></textarea>
        <span id="counter"></span>
        <button class="btn btn-primary my-3" id="submit">Submit</button>
        <img src="{{ url_for('static', filename='img/loader.gif') }}" id="loader" style="
                display: none;
                width: 10rem;
                height: 3rem;
                margin: auto;
                ">
    </div>
</div>
<div class="container">
    <div class="card" id="output" style="display: none;">
        <h3>Output</h3>
        <hr>
        <p id="outputData"></p>
        <p id="warning">{{warning}}</p>
        <button id="copyText" class="btn btn-primary" onclick="copyText()" style="    
        display: flex;
        align-items: flex-end;
        justify-content: end;
        margin: auto;
        font-size: 10px;
        margin-top: 1rem;">Copy</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/chatgpt-4.js') }}"></script>
<script>
    let words_count = {{words_count}};
    let words_total = {{words_total}};
    if(words_count >= words_total){
        let used = document.getElementById('used');
        used.style.background = '#e74c3c'
    }
</script>
{% endblock %}
