{% extends 'base.html' %} 
{% block title %}DALL-E 2 Image Generator Magic AI Box{% endblock %} 

{%block content %}

<!-- Custom CSS  -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dalle.css') }}" />

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

<!-- font-awesome Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Sticky btn at bottom right -->
<div class="sticky-card btn-success" id="used">
    <p style="font-size: 13px;">Images Used</p>
    <p style="text-align:center; font-size: 13px;" id="imagesUpdate">{{images_count}} / {{images_total}}</p>
</div>
<div class="sticky-card-left btn-warning">
    <a href="https://www.remove.bg/upload" style="text-decoration: none;" target="_blank">BG Remover | </a>
    <a href="https://www.freeconvert.com/image-converter" style="text-decoration: none;" target="_blank">Convert Image | </a>
    <a href="https://imageresizer.com/" style="text-decoration: none;" target="_blank">Image Resizer</a>
</div>


<!-- Dalle Image Text  -->
<div class="container">
    <div class="card">
        <div class="h1">DALL-E 2 Image Generator</div>
        <hr />
        <p class="para">{{DalleText}}</p>
    </div>
</div>
<div class="container">
    <a href='https://www.magicaibox.site/prompts/dalle-e_prompts.html' class="btn btn-primary" type="button" target="_blank" style="margin: auto;">Browse Prompt Examples</a>
</div>
<div class="container">
    <div class="card">
        <form action="/dalle-results" method="post" id="form">
            <h3>Images Generator</h3>
            <hr>
            <b><label for="">Enter the Image Prompt to Generate</label></b>
            <span><i id="change1" class="fa-solid fa-microphone fa-lg" style="
            color: #3aebf8;
            display: flex;
            align-items: right;
            justify-content: flex-end;
            align-items: end;
            z-index: 1;
            position: relative;
            top: 20px;
            right: 0.3rem;
            "></i></span>
            <input type="text" placeholder="Enter the Image Prompt to Generate" class="form-control" name="prompt" id="prompt">

            <b><label class="my-2">Select the number of images to generate</label></b>
            <select class="form-select" aria-label="Default select example" name="numImages" id="numImages">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <b><label class="my-2">Select the Size of Images to generate</label></b>
            <select class="form-select" aria-label="Default select example" name="sizes" id="sizes">
                <option value="256x256">256x256</option>
                <option value="512x512">512x512</option>
                <option value="1024x1024">1024x1024</option>
            </select>
            <button class="btn btn-primary my-5" id="submit" onclick="loaders1()">Submit</button>
            <img src="{{ url_for('static', filename='img/loader.gif') }}" id="loader1" class="my-2" style="display: none;width: 10rem;height: 3rem;margin: auto;">
        </form>
    </div>

    <div class="card">
        <form action="/dalle-edit" method="post" id="form" enctype="multipart/form-data">
            <h3>Images Editor</h3>
            <hr>
            <b><label class="form-label" for="customFile">Upload Image (Transparent PNG and less than 4mb) :</label></b>
            <input type="file" class="form-control mb-2" id="editImageFile" name="editImageFile">
            <p style="color: red !important; font-weight: bold;"><b>Use 'BG remove' [bottom left of this window] to make the 
                image a transparent PNG *</b></p>


            <b><label for="">Enter the Prompt to edit uploaded images.</label></b>
            <span><i id="change2" class="fa-solid fa-microphone fa-lg" style="
            color: #3aebf8;
            display: flex;
            align-items: right;
            justify-content: flex-end;
            align-items: end;
            z-index: 1;
            position: relative;
            top: 20px;
            right: 0.3rem;
            "></i></span>
            <input type="text" placeholder="Enter the Image Prompt to Generate" class="form-control" name="prompt" id="prompt2">

            <b><label class="my-2">Select the number of images to generate</label></b>
            <select class="form-select" aria-label="Default select example" name="numImages" id="numImages">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <b><label class="my-2">Select the Size of Images to generate</label></b>
            <select class="form-select" aria-label="Default select example" name="sizes" id="sizes">
                <option value="256x256">256x256</option>
                <option value="512x512">512x512</option>
                <option value="1024x1024">1024x1024</option>
            </select>
            <button class="btn btn-primary my-5" id="submit1" onclick="loaders2()">Submit</button>
            <img src="{{ url_for('static', filename='img/loader.gif') }}" id="loader2" class="my-2" style="display: none; width: 10rem; height: 3rem; margin: auto;">
        </form>
    </div>

    <div class="card">
        <form action="/dalle-variation" method="post" id="form" enctype="multipart/form-data">
            <h3>Images Variation</h3>
            <hr>
            <b><label class="form-label" for="customFile">Upload Image (Transparent PNG and less than 4mb) :</label></b>
            <input type="file" class="form-control mb-2" id="variationImageFile" name="variationImageFile">
            <p style="color: red !important; font-weight: bold;"><b>Use 'BG remove' [bottom left of this window] to make the 
                image a transparent PNG *</b></p>
            <b><label class="my-3">Select the number of images to generate</label></b>
            <select class="form-select" aria-label="Default select example" name="numImages" id="numImages">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <b><label class="my-2">Select the Size of Images to generate</label></b>
            <select class="form-select" aria-label="Default select example" name="sizes" id="sizes">
                <option value="256x256">256x256</option>
                <option value="512x512">512x512</option>
                <option value="1024x1024">1024x1024</option>
            </select>
            <button class="btn btn-primary my-5" id="submit2" onclick="loaders3()">Submit</button>
            <img src="{{ url_for('static', filename='img/loader.gif') }}" id="loader3" class="my-2" style="display: none;width: 10rem;height: 3rem;margin: auto;">
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/dalle.js') }}"></script>
<script>
    function loaders1(){
        let loaderIcon = document.getElementById('loader1');
        loaderIcon.style.display = 'flex';
    }
    function loaders2(){
        let loaderIcon = document.getElementById('loader2');
        loaderIcon.style.display = 'flex';
    }
    function loaders3(){
        let loaderIcon = document.getElementById('loader3');
        loaderIcon.style.display = 'flex';
    }

    let images_count = {{images_count}};
    let images_total = {{images_total}};
    if(images_count >= images_total){
        let used = document.getElementById('used');
        used.style.background = '#e74c3c'
    }
</script>
{% endblock %}
