{% extends 'base.html' %}


{% block title %}Image Edit{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
<div class="sticky-card btn-success">
    <!-- <h3>Minutes Usage</h3> -->
    <p>Images Used</p>
    <p style="text-align:center;" id="minutesUpdate">{{data[0]}} / {{data[1]}}</p>
</div>
<div class="container">
    <div class="card">
        <div class="h1">Edit Images</div>
        <hr>
        <p class="para">{{data[2]}}</p>
    </div>
</div>
<div class="container">
    <div class="card" id='camera'>
        <div class=>
            <video id="video" style="display: none;"></video>
            <label id="capture" class="btn btn-danger my-2">Take a Picture</label>
        </div>
    </div>
    <h5 class="or">or</h5>
    <div class="card">
        <div class="image-preview-container">
            <div class="preview">
                <img id="preview-selected-image" />
            </div>
            <label for="file-upload">Upload Image</label>
            <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event);" />
        </div>
    </div>
</div>
<div class="container">
    <div class="card" id="image" style="display: none;">
        <img id="photo" src="" alt="Your photo">
    </div>
</div>
<!-- <hr> -->
<form action="{{ url_for('ImageEditResults') }}" enctype="multipart/form-data" method="POST" id="upload-form">
    <div class="container">
        <div class="card">
            <h3>Image Settings</h3>
            <br>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Prompt *</span>
                </div>
                <input type="text" name="prompt" id="prompt" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" name="inputGroup-sizing-sm">Negative Prompt</span>
                </div>
                <input type="text" name="neg_prompt" id="neg_prompt" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" name="inputGroup-sizing-sm">Output Images (1 or 4)</span>
                </div>
                <input type="text" name="output_images" id="output_images" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
        
            <br>
            <button id="submit" class="btn btn-primary" style="
            width: 27%;
            margin: auto;
            ">Submit</button>
        </div>
    </div>
</form>

<script src="{{ url_for('static', filename='js/image.js') }}"></script>
{% endblock %}
