{% extends 'base.html' %}

{% block title %}Whisper AI{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/whisper.css') }}">
<div class="sticky-card btn-success">
    <!-- <h3>Minutes Usage</h3> -->
    <p>Minutes Used</p>
    <p style="text-align:center;" id="minutesUpdate">{{data[0]}} / {{data[1]}}</p>
</div>
<div class="sticky-card btn-warning">
    <!-- <h3>Minutes Usage</h3> -->
    <!-- <p>Minutes Used</p> -->
    <p style="text-align:center;">{{data[5]}}</p>
</div>
<div class="sticky-card-left btn-warning">
    <a href="https://www.xconvert.com/audio-compressor" target="_blank" style="text-decoration: none; color: white;">Audio Compresser</a>
</div>

<div class="container">
    <div class="card">
        <h1>Speech Recognizer</h1>
        <hr>
        <p> {{data[2]}}
        </p>
    </div>
</div>
<form method="POST" enctype="multipart/form-data" id="upload-form">
    <div class="container" id="data_send_by_user">
        <div class="card">
            <div class="form-group">
                <label for="audioFile"><b>Select Audio File:</b></label>
                <input type="file" class="form-control-file" id="audioFile" name="audioFile"
                    accept="audio/mp3/wav/m4a/ogg">
                <div id="error-message" style="display: none; font-size: 15px;">Error: Only MP3, WAV, OGG, and M4A files are supported.
                </div>
                <div id="size-message" style="display: none; font-size: 15px;">Error: Upto 25MB size audio file supported, reload page and Upload again.
                </div>
                <div id="upload-message" style="display: none; font-size: 15px;">Uploading File, please wait.....</div>
                <br>
                <br>
                <audio id="audio-upload-player" controls align="center" format="audio/wav">
                    <source src="" type="audio">
                    Your browser does not support the audio tag.
                </audio>
            </div>
        </div>
        <h4>or</h4>
        <div class="card">
            <label for="audioRecord"><b>Record Audio:</b></label>
            <button type="button" id="startButton" class="btn btn-danger" style="margin: 1px;">Start Recording</button>
            <button type="button" id="stopButton" class="btn btn-secondary" disabled style="margin: 1px;">Stop
                Recording</button>
            <br>
            <audio id="audio-player" src="" controls format="audio/wav">
                <!-- <source  type="audio"> -->
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <button class="btn btn-primary" type="submit" onclick="showLoader(); WhisperAITranscribe()"
                id="transcribe">Transcribe</button>
                <br>
            <button class="btn btn-primary" type="submit" onclick="showLoader(); WhisperAITranslate()"
                id="translate">Translate</button>
            <br>
            <br>
            <img src="{{ url_for('static', filename='img/loader.gif') }}" id="loader" style="
                display: none;
                width: 10rem;
                height: 3rem;
                margin: auto;
                    ">
        </div>
    </div>
</form>
<div class="container" id="outputToggle" style="display: none;">
    <div class="card">
        <h2>Ouptut</h2>
        <b>
            <p class="detected_language" id="language_detect"></p>
        </b>
        <p class="output" name="output" id="outputData"></p>
    </div>
    <div class="card">
        <h2>Translation</h2>
        <p class="detected_language"><b>English :</b></p>
        <p class="translate" name="translate" id="translated"></p>
    </div>
    <div class="container">
        <div class="card">
            <a href="/whisper" class="btn btn-primary">New Transcription</a>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/whisper.js') }}"></script>
<script>
    // Transcribe Button Loading Gif
    function showLoader() {
        const loader = document.querySelector('#loader');
        loader.style.display = 'inline';
    }
</script>
{% endblock %}